{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <img class="h-64 w-full" alt="pop" src="{{ asset('/template/images/brand/akibastrip_283.jpg') }}">
    </div>

    <!--блок о нас-->
    <div class="max-w-md mx-auto bg-zinc-200  md:max-w-4xl mb-10 mt-10">
        <div class="md:flex">
            <div class="md:shrink-0">
                <img class="h-96 w-full object-cover rounded-lg  "
                     src="{{ asset('/template/images/brand/bf8b41d191ab4f098d6a206666531ce9.jpg') }}"
                     alt="">
            </div>
            <div class="p-8 mt-11">
                <p class="mt-2 text-black text-xl"><b>О НАС</b><br>
                    Интернет-магазин аниме-товаров WOW является фирменным магазином одноименного издательства манги и
                    комиксов.<br> Здесь вы сможете купить продукцию нашего издательства из первых рук по самым низким
                    ценам
                    и получить ее в самые кратчайшие сроки. </p>
            </div>
        </div>
    </div>
    <!-- большой слайдер-->
    <div data-controller="carousel_big" class="relative swiper-container"
         data-carousel-options-value='{"direction": "horizontal"}'>
        <div class="swiper-wrapper">
            <div class="swiper-slide flex justify-center">
                <img class="rounded-lg" style="height: 500px;" src="{{ asset('/template/images/brand/1.svg') }}"
                     alt="1">
            </div>
            <div class="swiper-slide flex justify-center">
                <img class="rounded-lg" style="height: 500px;" src="{{ asset('/template/images/brand/2.svg') }}"
                     alt="2">
            </div>
            <div class="swiper-slide flex justify-center">
                <img class="rounded-lg" style="height: 500px;" src="{{ asset('/template/images/brand/3.svg') }}"
                     alt="3">
            </div>
            <div class="swiper-slide flex justify-center">
                <img class="rounded-lg" style="height: 500px;" src="{{ asset('/template/images/brand/4.svg') }}"
                     alt="4">
            </div>
            <div class="swiper-slide flex justify-center">
                <img class="rounded-lg" style="height: 500px;" src="{{ asset('/template/images/brand/5.svg') }}"
                     alt="5">
            </div>
            <div class="swiper-slide flex justify-center">
                <img class="rounded-lg" style="height: 500px;" src="{{ asset('/template/images/brand/6.svg') }}"
                     alt="6">
            </div>
            <div class="swiper-slide flex justify-center">
                <img class="rounded-lg" style="height: 500px;" src="{{ asset('/template/images/brand/7.svg') }}"
                     alt="7">
            </div>
            <div class="swiper-slide flex justify-center">
                <img class="rounded-lg" style="height: 500px;" src="{{ asset('/template/images/brand/8.svg') }}"
                     alt="8">
            </div>
            <div class="swiper-slide flex justify-center">
                <img class="rounded-lg" style="height: 500px;" src="{{ asset('/template/images/brand/9.svg') }}"
                     alt="9">
            </div>
        </div>
        <a class="swiper-button-prev"></a>
        <a class="swiper-button-next"></a>
    </div>

    <!-- маленький слайдер-->
    <div data-controller="carousel_mini" class="swiper-container"
         data-carousel-options-value='{"direction": "horizontal"}'>
        <p class="text-left  font-sans text-black text-4xl ml-10  mb-10">Скоро в продаже</p>
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/1.webp') }}"/>
            </div>
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/2.webp') }}"/>
            </div>
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/3.webp') }}"/>
            </div>
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/4.webp') }}"/>
            </div>
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/5.webp') }}"/>
            </div>
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/6.webp') }}"/>
            </div>
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/7.webp') }}"/>
            </div>
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/8.webp') }}"/>
            </div>
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/9.webp') }}"/>
            </div>
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/10.webp') }}"/>
            </div>
            <div class="swiper-slide">
                <img class="rounded-lg" src="{{ asset('/template/images/brand/11.webp') }}"/>
            </div>
        </div>
    </div>

    <div data-controller="carousel_mini_mini" class="swiper-container">
        <p class="text-left  font-sans text-black text-4xl ml-10 mt-10 mb-10">Наши новинки</p>
        <div class="swiper-wrapper">
            {% for product in latestProducts %}
                <div class="swiper-slide">
                    <div class=" xl:w-48 lg:w-64 bg-white drop-shadow-md rounded-lg ml-2 mr-2 mb-2">
                        <a href="{{ path('app_product_view', { 'id': product.id }) }}">
                            <img class="object-cover rounded-tl-lg rounded-tr-lg"
                                 style="height: 300px; width: 210px;" src="{{ product.image }}"></a>
                        <div class="px-5 py-3 space-y-2  grid grid-rows-2">
                            <h3 class="text-lg">
                                {{ product.name }}
                            </h3>
                            <p class="space-x-2 grid-flow-row">
                                    <span class="text-2xl font-light">
                                        <b>{{ product.price }}₽</b>
                                    </span>
                            </p>
                            {% if is_granted('ROLE_USER') %}
                                <div class=" flex justify-between items-center">
                                    <a href="#" class="px-4 py-2 bg-zinc-300 hover:bg-zinc-400
                text-center font-sans text-base text-black rounded duration-300 add-to-cart"
                                       data-id="{{ product.id }}">
                                        В корзину</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>

    <!--блок контакты -->
    <p class="text-left  font-sans text-black text-4xl ml-10 mt-10 mb-10">Контакты</p>
    <div class="flex justify-center mb-10">
        <div class="flex flex-col md:flex-row md:max-w-6xl rounded-lg bg-zinc-100 shadow-lg ">
            <img class="  h-64 md:h-auto object-cover md:w-72 rounded-t-lg md:rounded-none md:rounded-l-lg "
                 src="{{ asset('/template/images/brand/5f4f21b364ad8a3d8e22708e4f9fabe0.jpg') }}" alt=""/>
            <div class="p-6 flex flex-col justify-start">
                <p class="text-gray-900 text-ms font-sans mb-2"><b>Адрес:</b>
                <p class="text-sm">190005, г. Санкт-Петербург, вн. тер. г. Муниципальный округ Измайловское, <br>ул.
                    Егорова, д. 26А Литера Б, помещение. 8, 9 (11-Н)</p>
                <p class="text-gray-900 text-ms font-sans mb-2"><b>Почта:</b>
                <p class="text-sm">WOW@MANGA.COM</p>
                <p class="text-gray-900 text-ms font-sans mb-2"><b>Телефон:</b>
                <p class="text-sm">8 (555) 544-88-55 </p>
                <p class="text-gray-900 text-ms font-sans mb-2"><b>Режим работы интернет-магазина:</b>
                <p class="text-sm">ПН-ПТ с 9:00 до 18:00 (МСК)</p>
                <p class="text-gray-900 text-ms font-sans mb-2"><b>Реквизиты:</b>
                <p class="text-sm">Общество с ограниченной ответственностью "ЭксЭл Медиа Ретейл"<br>
                    ОГРН 1217800181939<br>
                    ИНН 7838099431, КПП 783801001<br>
                    ОКПО 57598968, ОКТМО 40305000<br>
                    р/с 40702810255000070353 в СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК<br>
                    к/с 30101810500000000653</p>
            </div>
        </div>
    </div>


{% endblock %}