<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Manga-smag{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="overflow-x-hidden bg-zinc-100 flex flex-col justify-between h-screen">
    {{ include('layouts/header.html.twig') }}
        {% block body %}{% endblock %}
        {{ include('layouts/footer.html.twig') }}
        <script>
            const toggler = document.getElementById("toggler");
            const mNav = document.getElementById("mobile__nav");
            const close = document.getElementById("toggler__expanded");

            toggler?.addEventListener("click", () => {
                mNav.classList.remove("translate-x-full");
            });

            close?.addEventListener("click", () => {
                mNav.classList.add("translate-x-full");
            });
        </script>
        <script src="{{ asset('/template/js/jquery.js') }}"></script>
        <script src="{{ asset('/template/js/jquery.cycle2.min.js') }}"></script>
        <script src="{{ asset('/template/js/jquery.cycle2.carousel.min.js') }}"></script>
        <script src="{{ asset('/template/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/template/js/jquery.scrollUp.min.js') }}"></script>
        <script src="{{ asset('/template/js/price-range.js') }}"></script>
        <script src="{{ asset('/template/js/jquery.prettyPhoto.js') }}"></script>
        <script>
            $(document).ready(function () {
                $(".add-to-cart").click(function () {
                    var id = $(this).attr("data-id");
                    $.post("/cart/add/ajax/" + id, {}, function (data) {
                        $("#cart-count").html(data);
                    });
                    return false;
                });
            });
        </script>
    <script src="https://code.jquery.com/jquery-3.6.2.min.js"
            integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $(".cart-add-to-cart").click(function () {
                var id = $(this).attr("data-id");
                var product_count = $("#product-" + id).val(); /*!!!!!!!!!!!!!!!!!!!*/
                $.post("/cart/add/ajax/" + id, {}, function (data) {
                    $("#cart-count").html(data);
                    product_count++;
                    $("#product-" + id).val(product_count) /*!!!!!!!!!!!!!!!!!!!*/
                });
                return false;
            });
        });

        $(document).ready(function () {
            $(".cart-remove-from-cart").click(function () {
                var id = $(this).attr("data-id");
                var product_count = $("#product-" + id).val(); /*!!!!!!!!!!!!!!!!!!!*/
                if (product_count > 1) {
                    $.post("/cart/remove/ajax/" + id, {}, function (data) {
                        $("#cart-count").html(data);

                        $("#product-" + id).val(product_count - 1); /*!!!!!!!!!!!!!!!!!!!*/
                    });
                }
                return false;
            });
        });
    </script>
    </body>
</html>
